models/mnist_cnn/mnist_cnn.model filter=lfs diff=lfs merge=lfs -text
*.mat filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*net_parameters* filter=lfs diff=lfs merge=lfs -text
*log* filter=lfs diff=lfs merge=lfs -text
data/scale.npy filter=lfs diff=lfs merge=lfs -text
data/slike_780.4251.mat filter=lfs diff=lfs merge=lfs -text
data/mnist/train-images-idx3-ubyte filter=lfs diff=lfs merge=lfs -text
data/mnist/train-labels-idx1-ubyte filter=lfs diff=lfs merge=lfs -text
